hr{
    margin-top: 50px;
    color:rgb(224, 111, 111);
}
select{
    width:130px;
    float:right;
}
input{
    margin-left:1000px;
}
.square{
    list-style-type:star;    
}
table{
    margin-top: 50px;
    text-align: center;
}
td,th{
    border-bottom:1px solid;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    
}
img{
    width:15px;
    height:15px;
    border-radius: 100px 
}
.input-css{
	border:none;
	border-bottom: 1px solid black;
}